{% extends 'Partidos_Torneo_Layout.html' %}

{% block body %}

<body>
    <div class="top-bar">
        <div class="top-bar-content">
            <span>ES</span>
            <div class="top-bar-links">
                <a href="http://127.0.0.1:3002/Logout">LOGOUT</a>
            </div>
        </div>
    </div>
    
    <header class="header">
        <nav class="nav">
            <a href="http://127.0.0.1:3002/">
                <img src="../../../static/imagenes/escudos/ESCUDO.png" alt="Logo pequeño" class="small-logo">
            </a>
            <div class="logo">
                <a href="http://127.0.0.1:3002/">FC BARCELONA</a>
            </div>
            <div class="nav-links">
                <a href="http://127.0.0.1:3002/Deportes">Deportes</a>
                <a href="http://127.0.0.1:3002/Instalaciones">Instalaciones</a>
                <a href="http://127.0.0.1:3002/Noticias">Noticias</a>
                <a href="http://127.0.0.1:3002/Directiva">Directiva</a>
            </div>
        </nav>
    </header>

    <div class="nav-bar">
        <a href="http://127.0.0.1:3002/Descripcion?id={{deporte_id_n}}" >Descripción</a>
        <a href="http://127.0.0.1:3002/Primer_Equipo?id={{deporte_id_n}}">Primer Equipo</a>
        <a href="http://127.0.0.1:3002/Cuerpo_Tecnico?id={{deporte_id_n}}" >Cuerpo Técnico</a>
        <a href="http://127.0.0.1:3002/Torneos?id={{deporte_id_n}}" class="active">Torneos</a>
        <a href="http://127.0.0.1:3002/Patrocinadores?id={{deporte_id_n}}">Patrocinadores</a>
    </div>

    <section class="instalaciones">
        
        {%for Nombre_Torneo in Nombre_Torneo_R %} 

        <h2>{{Nombre_Torneo[0]}}</h2>

        {%endfor%}
  
        <div class="grid">

            <section class="matches-section">
            <div class="matches-container">

                {%for partido in Partidos_R %}

                <div class="match-card">
                    <div class="match-details">
                        <div class="team">
                            <div class="team-logo"></div>
                            <span>Local</span>

                            {% if partido[2] == 'FC Barcelona' %}
                            <img src="{{ url_for('static', filename='imagenes/escudos/BARCELONA.png') }}" alt="Logo pequeño" class="small-logo2">
                            {% else %}
                            <img src="{{ url_for('static', filename='imagenes/escudos/' + partido[5]) }}" alt="Logo pequeño" class="small-logo2">
                            {% endif %}

                        </div>
                        <div class="match-info">
                            <div>{{partido[0]}} - {{partido[1]}}</div>
                            <div>{{partido[6]}}</div>
                            <div class="results">
                                <span class="local-result"> {{partido[4]}} </span>
                            </div>
                        </div>
                        <div class="team">

                            {% if partido[3] == 'FC Barcelona' %}
                            <img src="{{ url_for('static', filename='imagenes/escudos/BARCELONA.png') }}" alt="Logo pequeño" class="small-logo2">
                            {% else %}
                            <img src="{{ url_for('static', filename='imagenes/escudos/' + partido[5]) }}" alt="Logo pequeño" class="small-logo2">
                            {% endif %}

                            <span>Visitante</span>
                            <div class="team-logo"></div>
                        </div>
                    </div>
                </div>
                
                {%endfor%}

    <!-- Mantener el pie de página existente -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <a href="https://www.nike.com" target="_blank">
                    <img src="../../../../../static/imagenes/patrocinadores/NIKE.png" alt="Logo Nike" class="small-logo4">
                </a>
            </div>
            <div class="footer-section">
                <a href="https://www.spotify.com" target="_blank">
                    <img src="../../../../../static/imagenes/patrocinadores/SPOTIFY.png" alt="Logo Spotify" class="small-logo5">
                </a>
            </div>
            <div class="footer-section">
                <a href="https://www.ambilight.com" target="_blank">
                    <img src="../../../../../static/imagenes/patrocinadores/AMBILIGHT.png" alt="Logo Ambilight" class="small-logo6">
                </a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Club Deportivo. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>


{% endblock %}